body
{
    text-align: center;
}
.container{
  background-color: mediumaquamarine;  
}
#app {
    background-color: aliceblue;
    font-family: 'Roboto Condensed', sans-serif;
}

#myCarousel
{
    background-color: rgb(138, 232, 141);
}

#myCarousel img
{
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p
{
    margin-top: 15px;
    color : white;
    font-size: 20px;
}
p{
    font-family: 'Roboto Condensed', sans-serif;
    color:black;
}
.h25{
    font-family: 'Roboto Condensed', sans-serif;
}